body {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    text-align: center;
    color: #ffffff;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}
#sidebar-wrapper .list-group a {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    color: #ffffff;
    text-decoration: none;
}
#sidebar-wrapper .list-group a:hover {
    background-color: #60b9f5;
}
#sidebar-wrapper .list-group a.active {
    background-color: #60b9f5;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}
#wrapper {
    background-color: transparent;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}
