.sliderBTN {
    width: 100%;
    height: 20px;
    float: left;
    border-radius: 1px;
    background-color: green;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sliderBTN--head {
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.sliderBTN--arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.sliderBTN--arrow--right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.sliderBTN--arrow--left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.sliderBTN--arrow--up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.sliderBTN--arrow--down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

