:root {
  --bg-color: #f1f1f1;
  --bg-color-secondary: #f1f1f1;
  --text-color: #ffffff;
  --shadow: rgba(0, 0, 0, 0.2);
  background-color: var(--bg-color);
}
html[data-theme="dark"] {
  --bg-color: #333333;
  --bg-color-secondary: #3b3b3b;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.bg-nav {
  background-color: #40abf3;
}

.box {
  background-color: var(--bg-color-secondary);
  box-shadow: -1px 1px 3px var(--shadow);
  padding-left: 1em;
  padding-bottom: 0.5em;
  padding-top: .5em;
  margin-bottom: 1em;
  margin-right: 1em;
}
.btn-xl {
  width: 100%;
}

.alert {
  border: #ff0000 solid 1px;
  background-color: rgba(255, 0, 0, 0.1);
  color: #ff0000;
  padding: 1em;
  border-radius: 2px;
}